input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts 
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400; }
*/

#disease {
  position: relative;
 	background: #fff;
 	border-radius: 8px;
 	box-sizing: border-box;
 	width: 392px;
 	height: 48px;
 	border-bottom: 1px solid transparent;
 	padding: 12px 12px 11px 64px;
 	transition-property: background,box-shadow;
 	transition-duration: 0.3s;
}

#controls2 {
  /* Appearance */
  width: 392px;
  padding: 68px 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.95;
  /*overflow-y:scroll;*/
  	background-color: #fff;
	border-radius: 0 0 8px 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	top: -8px;
	color:rgba(0, 0, 0, 0.54);
}
#controls2:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
  color:rgba(0, 0, 0, 0.87);
}


#controls1 {
  /* Appearance 
  background-color: white;
  padding: 46px 20px 20px 20px;
  cursor: move;
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;*/
  background: #fff;
  	border-radius: 8px;
  	box-sizing: border-box;
  	width: 392px;
  	height: 400px;
  	border-bottom: 1px solid transparent;
  	padding-top:10px;
  	padding-bottom:10px;
  	/*padding: 12px 12px 11px 64px;*/
  	transition-property: background,box-shadow;
  	transition-duration: 0.3s;
}
#controls1:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/*****************
** Leaflet styles **
*****************/

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
 background-color: #fff;
}

.leaflet-control-zoom-in {
 margin-bottom: 0px;
 padding-bottom: 10px;
 margin-top: 0px;
 padding-top: 0px;
}

.leaflet-control-zoom-out {
 padding-top: 0px;
 margin-bottom: 0px;
}

.popover{
  pointer-events:none;
  right:320px !important;
}

.popover .arrow{
   top: 5%;
}

a, button, h1, h2, h3, h4, h5, h6, input, ol, p, textarea, th, ul {
	background: transparent;
	border: 0;
	border-radius: 0;
	font: inherit;
	list-style: none;
	margin: 0;
	outline: 0;
	overflow: visible;
	padding: 0;
	vertical-align: baseline;
}


/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}

.shiny-input-container:not(.shiny-input-container-inline) {
    width: 300px;
    max-width: 100%;
    padding-left: 10px;
}

.panel .panel-default {
    top: 12px;
    left: 22px;
    width: 320px;
    height: 400px;
    position: fixed;
    cursor: move;
}